{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">{{ post.user }}</a></p>
            <p>{{ post.content }}</p>
            <p>
                <a href="{{url_for('post', post_id = post.id)}}">
                    Continue reading
                </a>
            </p>
        </div>
    {% endfor %}

{% endblock %}

